.modal {
  width: 400px;
  height: 300px;
  position: relative;
  background-color: $color-input;
  border-radius: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 4rem;

  &.show {
    display: flex;
  }

  &__button {
    width: 52px;
    height: 52px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -52px;
    right: -42px;
    background-color: $color-input;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
      opacity: 70%;
    }

    &:active {
      opacity: 50%;
    }
  }

  &__ico {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("img/icons/closed.svg");
  }
}
